:root{
  font-family: 'Open Sans', sans-serif;
  background-color: 	#cdcdcd4d;
  padding-left: 50px;
  margin: 0;
  padding: 0 5vw 0 5vw;
}

/* Recipe */
.wrapper{
display: flex;
flex-direction: column;
margin-bottom: 12px;
}

.searchBar{
  width: 45vw;
  height: 5vh;
  padding-left: 10px;
	background-color: #ffffff;
  color: rgba(61,67,84,255);
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.logo{
  text-decoration: underline;}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  font-size: large;
}
.main{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 53vw;
}

.row {
  display: flex;
  gap: 20px;
  background-color: none;
  width: 53vw;
  height: 250px;
  border-radius: 15px;
}
.column{
  border-radius: 15px;
  box-sizing: border-box;
}


.title{
  margin-top: 0;
  padding-top: 0;
}

.descriptionTab{
  border-radius: 15px;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.picture{
  width: 400px;
  height: 250px;
  object-fit: cover;
  max-width:100%;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.pictureDiv{
  background-color: #cdcdcd4d;
}

.tagParagraph {
  padding: 5px;
  background-color: #cdcdcd7e;
  display: inline;
  margin-right: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.recipeSteps{
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 15px;
  background-color: #ffffff;
  height: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
h2{
  margin-left: 10px;
  margin-top: 0;
}

.recipeStep{
display: flex;
align-items: center;
}
.recipeStep > h6 {
  margin: 0;
  transform: rotate(-90deg);
  font-size: xx-small;
  min-width: max-content;
  
}

.details {
  overflow:auto;
  position: fixed;
  top: 25px;
  right: 5vw;
  height: 95vh;
  width: 30vw;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.recipeDetails{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px gray solid;
}
.temporaryBtn {
  width: 50px;
  height: 50px;
}

/* Recipe Form */

.recipeFormPage{
  background-color: #cdcdcd4d;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.firstStepForm{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  background-color: #cdcdcd;
  position: absolute;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin:auto; 
  gap: 20px;
  padding: 60px 80px 60px 80px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.formWrapper{
  display: flex;
  flex-direction: column;
  font-weight: 800;
}
.formWrapper> input:not(#addPicture){
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
