:root{
  font-family: 'Open Sans', sans-serif;
    background-image: url(../src/assets/wepik-export-20230730180906lBDG.png);
  /* background-image: linear-gradient(to right, rgba(74,82,103,255), rgba(22,28,45,255)); */
  padding-left: 50px;
  margin: 0;
  padding: 0 5vw 0 5vw
}

.wrapper{
display: flex;
}

.searchBar{
  width: 40vw;
  height: 5vh;
  padding-left: 10px;
	background-color: #e8e4c9;
  color: rgba(61,67,84,255);
  border: none;
  border-radius: 3px;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  font-size: large;
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  width: 60vw;
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1; 
}

.title{
  margin-top: 0;
}

.descriptionTab{
  width: 500px;
}

.picture{
  max-width: 400px;
  border-radius: 20px;
}

.tagParagraph {
  padding: 5px;
  background-color: rgba(182, 182, 182, 0.305);
  display: inline;
  margin-right: 10px;
}

.recipeSteps{
  width: 53vw;
}
.recipeStep{
display: flex;
}
.recipeStep > h6 {
  transform: rotate(-90deg);
  font-size: xx-small;
  min-width: max-content;
}

.details {
  overflow:auto;
  position: fixed;
  top: 10px;
  right: 5vw;
  height: 95vh;
  width: 30vw;
  box-sizing: border-box;
  background-color: #e8e4c9;
  color: black;
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
}
.recipeDetails{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px gray solid;
}